<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="pluginTTS.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="speak"
               label="&amp;Speak">
            <separator
                  name="speakingGroup">
            </separator>
         </menu>
         <action
               accelerator="Alt+F"
               class="ch.supsi.dti.actions.SetFocusOnCommandLine"
               icon="icons/sample.gif"
               id="ch.supsi.dti.actions.SetFocusOnCommandLine"
               label="&amp;Focus on command line"
               menubarPath="speak/speakingGroup"
               toolbarPath="sampleGroup"
               tooltip="Focus on Command Line">
         </action>
         <action
               class="ch.supsi.dti.actions.SetFocusOnPackageExplorer"
               icon="icons/sample.gif"
               id="ch.supsi.dti.actions.SetFocusOnPackageExplorer"
               label="&amp;Focus on Package Explorer"
               menubarPath="speak/speakingGroup"
               toolbarPath="sampleGroup"
               tooltip="Focus on Package Explorer"
               accelerator="Alt+P">
         </action>
         <action
               accelerator="Alt+R"
               class="ch.supsi.dti.actions.ReadLineOfCursor"
               icon="icons/sample.gif"
               id="ch.supsi.dti.actions.ReadLineOfCursor"
               label="&amp;Read line of cursor"
               menubarPath="speak/speakingGroup"
               toolbarPath="sampleGroup"
               tooltip="Read line of cursor">
         </action>
         <action
               accelerator="Alt+E"
               class="ch.supsi.dti.actions.SetFocusOnActiveEditor"
               icon="icons/sample.gif"
               id="ch.supsi.dti.actions.SetFocusOnActiveEditor"
               label="&amp;Focus on Active Editor"
               menubarPath="speak/speakingGroup"
               toolbarPath="sampleGroup"
               tooltip="Focus on Active Editor">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="pluginTTS"
            name="pluginTTS">
      </category>
      <view
            category="pluginTTS"
            class="ch.supsi.dti.views.SpeakingView"
            icon="icons/speak.png"
            id="pluginTTS.views.SpeakingView"
            name="Speaking View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.supsi.dti.preferences.SpeakingPreferences"
            id="ch.supsi.dti.preferences.SpeakingPreferences"
            name="Speaking">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ch.supsi.dti.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
